body { font-family: 'Segoe UI', sans-serif; display: flex; margin: 0; background: #f4f7f6; }
.sidebar { 
    width: 250px; 
    height: 100vh; 
    background: #2c3e50; 
    color: white; 
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    box-sizing: border-box;
    
}.sidebar button { 
    width: 100%; 
    padding: 12px; 
    margin: 10px 0; 
    border: none; 
    cursor: pointer; 
    background: #34495e; 
    color: white; 
    border-radius: 5px; 
    box-sizing: border-box; 
}

#btn-logout {
    background-color: #c0392b !important; 
    margin-top: auto !important; 
}
.main-content { flex-grow: 1; padding: 40px; }
.registro-card { background: white; padding: 30px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); max-width: 600px; }
.perfil { display: flex; align-items: center; gap: 20px; margin: 20px 0; border-bottom: 1px solid #eee; padding-bottom: 20px; }
#foto_empleado { width: 120px; height: 120px; border-radius: 10px; object-fit: cover; border: 2px solid #ddd; }
.hidden { display: none; }
.btn-guardar { background: #27ae60; color: white; border: none; padding: 12px 25px; border-radius: 5px; cursor: pointer; width: 100%; margin-top: 20px; }
.campo { margin: 15px 0; }
input[type="time"], input[type="text"] { padding: 8px; border-radius: 4px; border: 1px solid #ddd; }

/* --- DISEÑO DE LISTA DE ASISTENCIA --- */
.header-asistencia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-asistencia input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.grid-empleados {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Crea exactamente 2 columnas iguales */
    gap: 20px;
}

.tarjeta-empleado {
    display: flex;
    justify-content: space-between; /* Empuja los controles a la derecha */
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #2c3e50; /* Borde remarcado como en tu dibujo */
}

.perfil-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.perfil-info img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid #ccc;
}

.datos-texto h4 {
    margin: 0 0 5px 0;
    color: #2c3e50;
    font-size: 18px;
}

.datos-texto p {
    margin: 0;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.controles-tarjeta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.controles-tarjeta select {
    padding: 5px;
    border: 2px solid #2c3e50;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.acciones-rapidas {
    display: flex;
    gap: 5px;
}

.acciones-rapidas input[type="time"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}